ImitateIFOfMario64.sdf
ImitateIFOfMario64.suo
ImitateIFOfMario64.vcxproj.filters
ImitateIFOfMario64.opensdf
ipch/
*.tlog
*.sln
*.vcxproj
*.user
*.obj
*.exe
*.jpg
*.log
*.png
*.bmp
.vs/ 
x64/ 
Debug/ 
